@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
body {
  background-color: bisque;
}

.container {
  width: 50vw;
  margin: 20px auto;

}

.accordion  * {
  cursor: pointer;
}


.title {
  font-family: 'Comic Neue', cursive;
  font-size: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid gray;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.accordion-box {
  font-family: 'Comic Neue', cursive;
  font-size: 36px;
  padding-bottom: 10px;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: column;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
}

.accordion-box:hover i {
  transform: rotate(45deg);
}
.accordion-input {
  display: none;
}

.accordion-input:checked ~ .accordion-box i {
  transform: rotate(45deg);
}

.accordion-input:checked ~ .accordion-box>.accordion-title {
  color: black;
}

.accordion .plus {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.accordion:hover .accordion-title {
  color: brown;
  transition: color 0.5s ease-in-out;
  }

.accordion:hover .plus {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.accordion-box:hover > i {
  transform: rotate(45deg);
}


.accordion-meme {
  margin-top: 20px;
  height: 0;
  overflow: hidden;
  align-self: center;
}

.accordion-image {
  width: 25vw;
  transition: transform 0.5s;
  transform: scale(0);
}


.accordion-box:hover > .accordion-meme,
.accordion-input:checked ~ .accordion-box>.accordion-meme {
  height: unset;
  overflow: visible;
}

.accordion-box:hover .accordion-image,
.accordion-input:checked ~ .accordion-box .accordion-image {
  transform: scale(1);
}

@media (hover: none) {
  .accordion .plus {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

@media (width <= 1200px) {
  .title {
    font-size: 36px;
  }
    .accordion-box {
      font-size: 24px;
 }
}

@media (width <= 650px) {
  .title {
    font-size: 24px;
  }
    .accordion-box {
      font-size: 16px;
      padding-bottom: 0px;
 }
}
